.body {
  background-color: rgb(232, 232, 206);
  color: rgb(71, 50, 11);
}
.section1 {
  border-radius: 5%;
  margin: 20px;
  padding: 30px;
  background-color: rgb(234, 247, 216);
  color: rgb(10, 58, 29);
}
.section2 {
  border-radius: 5%;
  margin: 20px;
  padding: 30px;
  background-color: rgb(202, 222, 238);
  color: rgb(10, 25, 57);
}
.section3 {
  border-radius: 5%;
  margin: 20px;
  padding: 30px;
  background-color: rgb(238, 213, 202);
  color: rgb(57, 34, 10);
}
.footer {
  margin: 0px;
  padding: 5px;
  font-weight: bolder;
  text-align: center;
  background-color: rgb(6, 2, 6);
  color: rgb(255, 249, 242);
}
